html {
  font-size: calc(20px + 0.25vw);
}

body {
  background: linear-gradient(rgba(25, 41, 101, 0.75), rgba(25, 41, 101, 0.75)), url('Images/birthday_decor_background.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-family: 'Source Sans Pro';
  margin: 0;
  text-align: center;
}

@media only screen and (max-width: 767px) {
  body {
    background: linear-gradient(rgba(25, 41, 101, 0.75), rgba(25, 41, 101, 0.75)), url('Images/birthday_decor_background_mobile.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

header {
  margin: 20px;
}

h1 {
  font-family: 'Poppins';
  font-size: 2.5rem;
  line-height: 1.25;
  margin-bottom: 10px;
}

header p {
  font-style: italic;
  margin-top: 0;
  text-shadow: 2px 0 1px black;
}

form {
  background-color: rgb(1, 10, 67);
  background-color: rgba(1, 10, 67, 0.7);
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: calc(10px + 1.5vw);
  text-align: left;
  max-width: 750px;
}

@media only screen and (max-width: 900px) {
  form {
    max-width: 500px;
  }
}

label, legend {
  display: block;
  margin-bottom: 5px;
}

fieldset label {
  display: flex;
  flex-direction: row;
  align-items: center;
}

fieldset label:last-child {
  margin: 0;
}

.clue {
  font-size: 0.9rem;
}

input, select, textarea {
  border-color: transparent;
  border-radius: 5px;
  box-sizing: border-box;
  font-family: 'Source Sans Pro';
  font-size: 0.9rem;
  margin-bottom: 25px;
  padding: 8px;
  width: 100%;
}

fieldset input {
  display: none;
}

.checkbox, .radio {
  background-color: #eee;
  border-radius: 5px;
  display: inline-block;
  margin-right: 10px;
  width: 20px;
  height: 20px;
}

.radio {
  border-radius: 50%;
}

.checkbox:hover, .radio:hover {
  background-color: #ccc;
  cursor: pointer;
}

fieldset input:checked + label .checkbox {
  background-image: url('Images/checkmark.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60%;
}

fieldset input:checked + label .radio {
  background-image: url('Images/gray_circle.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 65%;
}

fieldset {
  border: none;
  margin: 0 0 25px;
  padding: 0;
}

fieldset p {
  margin: 0;
}

select {
  background-color: white !important;
  background-image: url('http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png');
	background-repeat: no-repeat, repeat;
	background-position: right 0.7rem top 50%, 0 0;
  background-size: 0.65rem auto, 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select option {
  color: black;
}

select:invalid, option[value=""] {
  color: gray;
}

::placeholder {
  color: gray;
  opacity: 1;
}

select::-ms-expand {
  display: none;
}

input[type="submit"] {
  border-radius: 3px;
  background-color: #8db600;
  margin-bottom: 0;
  transition: background-color 0.4s;
  -webkit-appearance: none;
}

input[type="submit"]:hover {
  background-color: yellowGreen;
  cursor: pointer;
}
