html {
  font-size: calc(20px + 0.25vw);
}

body {
  background: linear-gradient(rgba(25, 41, 101, 0.75), rgba(25, 41, 101, 0.75)), url('Images/birthday_decor_background.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-family: 'Source Sans Pro';
  text-align: center;
}

@media only screen and (max-width: 767px) {
  body {
    background: linear-gradient(rgba(25, 41, 101, 0.75), rgba(25, 41, 101, 0.75)), url('Images/birthday_decor_background_mobile.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

header {
  margin: 0 15px;
}

h1 {
  font-family: 'Poppins';
  font-size: 2.5rem;
  letter-spacing: normal;
  line-height: 1.25;
  margin: 20px auto 0;
}

header p {
  font-style: italic;
  margin: 7px auto 0;
  text-shadow: 2px 0 1px black;
}

form {
  background-color: rgb(1, 10, 67);
  background-color: rgba(1, 10, 67, 0.7);
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  padding: calc(10px + 1.5vw);
  text-align: left;
  max-width: 750px;
}

@media only screen and (max-width: 900px) {
  form {
    max-width: 500px;
  }
}

label, legend {
  display: block;
  margin-bottom: 5px;
}

fieldset label {
  margin: 0;
}

.choice-group {
  display: flex;
  flex-direction: row;
  align-items: center;
}

fieldset > .choice-group:not(:last-child) {
  margin-bottom: 5px;
}

.clue {
  font-size: 0.9rem;
}

input, select, textarea {
  border-color: transparent;
  border-radius: 5px;
  box-sizing: border-box;
  font-family: 'Source Sans Pro';
  font-size: 0.9rem;
  margin-bottom: 25px;
  padding: 8px;
  width: 100%;
}

input[type="radio"], input[type="checkbox"] {
  margin: 0 10px 0 0;
  width: auto;
}

fieldset {
  border: none;
  margin-bottom: 25px;
  padding: 0;
}

select {
  -moz-appearance: none;
	-webkit-appearance: none;
  appearance: none;
  background-image: url('http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png');
	background-repeat: no-repeat, repeat;
	background-position: right 0.7rem top 50%, 0 0;
	background-size: 0.65rem auto, 100%;
}

select:invalid {
  color: gray;
}

select::-ms-expand {
  display: none;
}

input[type="submit"] {
  border-radius: 3px;
  background-color: #8db600;
  margin-bottom: 0;
  transition: background-color 0.4s;
}

input[type="submit"]:hover {
  background-color: yellowGreen;
  cursor: pointer;
}
